
        <div class="bg-dark w-100 p-4 text-white"> <!-- FOOTER -->
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-8">
                    Project published in GPL 3.0
                </div>
                <div class="col-sm-12 col-md-4">
                    <a href="https://gitlab.com/eazy-home-admin" style="color: black;" class="mx-1"><i class="text-white fab fa-lg fa-gitlab"></i></a>
                    <a href="https://discord.gg/XT8ZRXeN26" style="color: black;" class="mx-1"><i class="text-white fab fa-lg fa-discord"></i></a>
                    <a href="https://trello.com/b/sC7bg0hs" style="color: black;" class="mx-1"><i class="text-white fab fa-lg fa-trello"></i></a>
                </div>
            </div>
        </div>
