<header class="sticky-top">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="btn text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidemenu" aria-controls="sidemenu"><i class="fas fa-bars"></i></button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="sidemenu" aria-labelledby="sidemenuLabel">
                <div class="offcanvas-header">
                    <h5 id="sidemenuLabel">Menu</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="list-group list-group-flush">
                        <a href="index.html" class="list-group-item list-group-item-action active d-flex justify-content-space-between">
                            Home <span class="ms-auto"><i class="fas fa-home"></i></span>
                        </a>
                        <a href="https://gitlab.com/eazy-home-admin/eazy-home-admin/-/archive/master/eazy-home-admin-master.zip" class="list-group-item list-group-item-action d-flex justify-content-space-between">
                            Download <span class="ms-auto"><i class="fas fa-download"></i></span>
                        </a>
                        <a href="docs.html" class="list-group-item list-group-item-action d-flex justify-content-space-between disabled">
                            Docs <span class="ms-auto"><i class="fas fa-book"></i></span>
                        </a>
                        <a href="https://gitlab.com/eazy-home-admin/" class="list-group-item list-group-item-action d-flex justify-content-space-between">
                            GitLab <span class="ms-auto"><i class="fab fa-gitlab"></i></span>
                        </a>
                        <a href="https://discord.gg/XT8ZRXeN26" class="list-group-item list-group-item-action d-flex justify-content-space-between">
                            Discord <span class="ms-auto"><i class="fab fa-discord"></i></span>
                        </a>
                        <a href="https://trello.com/b/sC7bg0hs" class="list-group-item list-group-item-action d-flex justify-content-space-between">
                            Trello <span class="ms-auto"><i class="fab fa-trello"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-brand mb-0 h1 me-auto ms-1">
                Eazy Home Admin
            </div>
        </div>
    </nav>
</header>
