body {
    font-family: "Montserrat", "Noto Sans", sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.otf");
}

.navbar-dark {
    transition-duration: 0.5s;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid #666;
    box-shadow: 0 0 0.8rem #666 !important;
}

.navbar-dark:hover {
    border-bottom: 1px solid #ccc;
}

.card.shadow {
    position: relative;
    top: 0;
    left: 0;
    transition-duration: 0.5s;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.card.shadow:hover {
    top: -1rem;
}

.light-card {
    transition-duration: 0.5s;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.light-card:hover {
    background-color: #f8f8f8;
}

.list-group-item {
    transition-duration: 0.5s;
}
